<div class="row">
  <div class="container">
    <div class="col col-sm-6 col-md-4 col-lg-4">
      <h4>{{model.name}}</h4>
      <p>gdzie: {{model.location}}</p>
      <p>co: {{model.description}}</p>
      {{#link-to 'place.edit' model}}
        <button class="btn btn-sm btn-info">edit</button>
      {{/link-to}}
      <div class="comments">
        <h3>Comments</h3>
        {{#each comment in filteredComments}}
          <li>{{comment.text}}</li>
        {{/each}}
        {{outlet}}
      </div>
    </div>
    <div class="col col-sm-6 col-md-4 col-lg-4">
      {{location-map  markers=markers
                      centerLat=centerLat
                      centerLng=centerLng
                      zoom=17
                      gopt_draggable=false}}
    </div>
  </div>
</div>
