<h2>Adding new place</h2>
<form>
  <h2>{{errorMessage}}</h2>
  <fieldset>
    {{input value=model.name placeholder="name" class='input--name'}}<br>
    {{input value=model.description placeholder="description" class='input-description'}}<br>
    <button {{action "save"}} class="primary button--save">Save</button>
    <button {{action "cancel"}} class='button--cancel'>Cancel</button>
  </fieldset>
</form>

