<div class="row">
  <div class="container-fluid">
    <div class="col col-sm-6 col-md-4 col-lg-4">
      <h2>Adding new place</h2>
      <form>
        <h2>{{errorMessage}}</h2>
        <fieldset>
          {{input value=model.name placeholder="name" class='form-control input--name'}}<br>
          {{input value=model.description placeholder="description" class='form-control input--description'}}<br>
          {{input value=model.location placeholder="address" class='form-control input--location' action="setPointer" on="key-press"}}<br>
          <button {{action "findAddress" model.location}} class='btn btn-sm btn-success button--find-location'>
            Find my address
          </button>

          <button {{action "reverseGeocoding" lat lng}} class='btn btn-sm btn-success button--find-location'>
            Reverse geocoding
          </button>

          {{# if isLooking }}
            <button {{action "findLocation"}} disabled={{isLooking}}  class='btn btn-sm btn-success button--find-location'>
              <span class="glyphicon glyphicon-repeat gly-spin" aria-hidden="true"></span>
              I'm looking for your location
            </button>
          {{else}}
            <button {{action "findLocation"}} class='btn btn-sm btn-success button--find-location'>
              Find my current location
            </button>
          {{/if}}

          <br />
          <br />
          <button {{action "save" lat lng}} class="btn btn-sm btn-primary button--save">Save</button>
          <button {{action "cancel"}} class='btn btn-sm btn-warning button--cancel'>Cancel</button>
        </fieldset>
      </form>
    </div>
    <div class="col col-sm-6 col-md-8 col-lg-8">
      {{location-map  markers=markers
                      centerLat=centerLat
                      centerLng=centerLng
                      zoom=zoom}}
    </div>
  </div>
</div>
