
  {{#each place in model}}
    <div class="spot">
      {{#link-to 'place' place}}
        CO: {{place.name}}
      {{/link-to}}
      JAK: {{place.description}}
      GDZIE: {{place.location}}
    </div>
  {{/each}}

{{google-map markers=model
             lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='map'}}

<div class="controls">
  <label>
    Zoom:
    {{input type="range" value=zoom min=0 max=18 step=1}}
  </label>
</div>
